@using Authority.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@using IdentityServer4.EntityFramework.Entities
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<IdentityResource>

@{
    ViewData["Title"] = "Index";
}

<h2>Seznam zdrojů pro identitu uživatelů</h2>
@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div><a class="btn btn-success m-1" asp-action="Create">Nový</a></div>
<form class="form-inline p-1" asp-action="Index" method="get">
    <label class="mr-sm-2" for="searchString">Název</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchString" name="searchString" placeholder="část názvu" value="@ViewBag.CurrentFilter" />
    <button type="submit" class="btn btn-primary">Vybrat</button> <a class="btn btn-secondary" asp-action="Index">Vše</a>
</form>

@if (Model.Count == 0)
{
    <p>Žádné zdroje nejsou.</p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Název", "Index", new { order = ViewBag.NameSortParm })</th>
                    <th>Aktivní</th>
                    <th>Povinný</th>
                    <th>Zvýrazněný</th>
                    <th>Zjistitelný</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Required)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emphasize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShowInDiscoveryDocument)
                        </td>
                        <td>
                            <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id">Podrobnosti</a>
                            <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Upravit</a>
                            <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Odstranit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount </div>
        <div class="col-md"> @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new X.PagedList.Web.Common.PagedListRenderOptionsBase { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } }) </div>
    </div>
}
