@model RegisterExternalInputModel
@using System.Security.Claims

    <div class="container">
        <h1>Propojení účtů</h1>
        <p>
            Zatím neexistuje žádný účet svázaný s Vámi poskytnutými údaji. Zadejte své uživatelské jméno a pokusíme se takový účet najít a propojit.
            Pokud žádný takový účet neexistuje, lze jej vytvořit tlačítkem pod formulářem.
        </p>
        <dl>
            <dt>Poskytovatel</dt>
            <dd>@Model.Provider</dd>
            <dt>Id u poskytovatele</dt>
            <dd>@Model.ProviderUserId</dd>
        </dl>
        <h2>Claimy od poskytovatele</h2>
        <dl>
        @foreach (var claim in Model.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
        </dl>
        <partial name="_ValidationSummary" />
        <form method="post" asp-route="Connect">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input type="hidden" asp-for="Provider" />
                <input type="hidden" asp-for="ProviderUserId" />
                <input type="hidden" asp-for="FirstName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="UserName" />
                <input type="hidden" asp-for="Gender" />
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            @{
                var firstname = Model.Claims.Where(c => c.Type == ClaimTypes.GivenName).FirstOrDefault();
                var lastname = Model.Claims.Where(c => c.Type == ClaimTypes.Surname).FirstOrDefault();
                var email = Model.Claims.Where(c => c.Type == ClaimTypes.Email).FirstOrDefault();
                var gender = Model.Claims.Where(c => c.Type == ClaimTypes.Gender).FirstOrDefault();
            }
            <button type="submit" class="btn btn-primary" name="button" value="login">Propojit</button>
            <a asp-action="Create" 
               asp-route-provider="@Model.Provider" 
               asp-route-providerUserId="@Model.ProviderUserId" 
               asp-route-firstname="@(firstname == null ? "" : firstname.Value)" 
               asp-route-lastname="@(lastname == null ? "" : lastname.Value)"
               asp-route-gender="@(gender == null ? "" : gender.Value)"
               asp-route-email="@(email == null ? "" : email.Value)"
               class="btn btn-secondary">Vytvořit nový účet</a>
        </form>
    </div>