@model RegisterInputModel
@using Authority.Data

<div class="register-page">
    <div class="container">
        <h1>Registrace</h1>
        <partial name="_ValidationSummary" />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-route="Register">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <div>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Gender, Gender.Male) Muž
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Gender, Gender.Female) Žena
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Gender, Gender.Other) Ostatní
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(x => x.Gender, Gender.Unknown) Neznámé
                    </label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" name="button" value="login">Registrace</button>
            <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary">Zpět</a>
        </form>
    </div>
</div>